.footer{
    width: 100%;
    height: 3.5rem;
    background:var(--bg-secondary);
    // position: sticky;
    // text-align: ;
    display: table;

    // bottom: 0;
    p{
        font-size: 11px;
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        height: 100%;
        padding: 0 0.5rem;
    }
}